<div id='maintenance'>{{ maintenance_message }}</div>
<div id='bheader'>
    <div class='left'>
        <a href="{{ ref }}" ><img src="{{ logo_uri }}" class="main-logo-img"></a>
        {{#show_project_title}}
        <div class='htitle'>
            <p>
                <a href="{{ ref }}" >
                    <svg
                        width="100%"
                        height="50"
                        preserveAspectRatio="xMinYMid meet"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <text x="10" y="38" font-size="48" fill="rgb({{ title_rgb }})" >{{ OB_project_title }}</text>
                    </svg>
                </a>
            </p>
        </div>
        {{/show_project_title}}
    </div>
    <div class='right'>
    <div id='header-menu-div'>
        <div id='nav'>
            <ul class='topnav tablink'>
                {{#upload}}
                <li><a href='{{ ref }}/upload/'><div class='navlabel'><i class='fa fa-lg fa-upload fa-fw'></i> <span class='navlabel-text'>{{ t.str_upload }}</span></div></a></li>
                {{/upload}}
                {{#map}}
                <li><a href='{{ ref }}/map/'><div class='navlabel'><i class='fa fa-lg fa-globe fa-fw'></i> <span class='navlabel-text'>{{ t.str_map }}</span></div></a></li>
                {{/map}}
                {{#unread}}
                <li>
                    <a href='{{ ref }}/boat/?messages' id='header-unread-envelope' title='{{ unread_link_title }}'>
                        <i class='fa fa-envelope'></i> 
                        <span>{{ unread }}</span>
                    </a>
                    &nbsp;
                </li>
                {{/unread}}
                {{#profile}}
                <li>
                    <a href='#' class='to' title="{{ profile_title }}">
                        {{#logged_in}}
                            <img id='avatar' src='{{ ref }}/includes/avatar.php?size=32&value={{ userdata.email }}&bg=225,225,225'>
                        {{/logged_in}}
                        {{^logged_in}}
                            <i class='fa fa-lg fa-navicon'></i> <span class='navlabel-text'>{{ t.str_login }}</span>
                        {{/logged_in}}    
                        <i class='fa fa-angle-down fa-fw fa-lg'></i>
                    </a>
                    <ul class='subnav'>
                        {{#logged_in}}
                            <li id="header-menu-user-name" class='nohover'><span>{{ userdata.name }}</span></li>
                            <li><a href='{{ userdata.profile_uri }}'><span class='navlabel'>{{ t.str_settings }}</span></a></li>
                            <li><a href='{{ ref }}/index.php?database'><span class='navlabel'>{{ t.str_db_summary }}</span></a></li>
                            <li class="lightgray-bottom-border"><a href='{{ ref }}/index.php?feedback' id='feedback'><span class='navlabel'>{{ t.str_feedback }}</span></a></li>
                            <li><a href='https://openbiomaps.org/documents/{{ doclang }}/' target="_blank"><span class='navlabel'>{{ t.str_documentation }}</span></a></li>
                            <li><a href='{{ other_databases_uri }}'><span class='navlabel'>{{ t.str_other_databases }}</span></a></li>
                            <li class="lightgray-bottom-border"><a href='{{ ref }}/index.php?logout' id='logout'><span class='navlabel'>{{ t.str_logout }} <i class='fa fa-sign-out fa-lg'></i></span></a></li>
                        {{/logged_in}}
                        {{^logged_in}}
                            <li class="lightgray-bottom-border"><a href='{{ ref }}/weblogin.php?client_id=web&scope=webprofile&callback={{request_uri}}' id='login'><span class='navlabel'>{{ t.str_login }}</span></a></li>
                            <li><a href='https://openbiomaps.org/documents/{{ doclang }}/' target="_blank"><span class='navlabel'>{{ t.str_documentation }}</span></a></li>
                            <li><a href='{{ ref }}/index.php?database'><span class='navlabel'>{{ t.str_db_summary }}</span></a></li>
                            <li><a href='{{ other_databases_uri }}'><span class='navlabel'>{{ t.str_other_databases }}</span></a></li>
                        {{/logged_in}} 
                    </ul>
                </li>
                {{/profile}}
                {{#multilingual}}
                <li><a href='#' class='to'><span class="flag-icon flag-icon-{{ active_lang }}"></span><i class='fa fa-angle-down fa-fw fa-lg'></i></a>
                    <ul class="subnav">
                        {{#languages}}
                            <li><a href='?lang={{ l }}'><span class='flag-icon flag-icon-{{ l }}'></span>{{ label }}</a></li>
                        {{/languages}}
                    </ul>
                </li>
                {{/multilingual}}
            </ul>
        </div>
    </div>
    </div>
</div>
