<style>
    
</style>
<form method='post' class='loginform pure-form pure-form-aligned'>
    <fieldset>
    {{#local_login_message}}
        <legend><h5>{{local_login_message}}</h5></legend>
    {{/local_login_message}}

    <h2>{{t.str_signin}}</h2>
    <label for="loginname">{{t.str_email}}:</label>
    <div class='input-group'>
        <span class='input-group-addon'><i class='fa fa-envelope-o fa-fw fa-lg'></i></span>
        <input class='form-control' type='text' placeholder='{{t.str_email}}' id="loginname" name='loginname'>
    </div>

    <label for="loginpass">{{t.str_password}}:</label>
    <div class='input-group'>
        <span class='input-group-addon'><i class='fa fa-key fa-fw fa-lg'></i></span>
        <input class='form-control' type='password' name='loginpass' id='loginpass'>
    </div>
    <span class="pure-form-message"><a href='?lostpw'>{{t.str_lostpasswd}}</a></span>

    
    <label for="remember_me" class="pure-checkbox">
         <input type='checkbox' name='remember_me' id='remember_me' /> {{t.str_remember_me}}
    </label>

    <button type='submit' class='button-success button-xlarge pure-button' name='loginenter'>
        <i class='fa fa-sign-in'></i> {{t.str_enter}}
    </button>

    <div class='registration-link'>
        <a href='?registration'>{{t.str_registration}}</a>
    </div>
    
    
    {{#openid_buttons}}
        <div class="login-divider">or sign in with</div>
        <div class="openid_buttons">
            {{{openid_buttons}}}
            <label for="remember_me_oidc" class="pure-checkbox">
                <input type='checkbox' name='remember_me_oidc' id='remember_me_oidc' /> {{t.str_remember_me}}
            </label>
        </div>
    {{/openid_buttons}}

    </fieldset>
</form>

