#photo_upload_div {
    border: 1px solid #666;
    border-bottom: 4px solid #666;
}

#photo_upload_div h2 {
    color: white !important;
    background-color:#666 !important;
    padding:6px;
    margin:-10px -10px 10px -10px !important;
}

#photo_upload_div #pud-close {
    margin: -5px;
    background: transparent;
    border: none;
    color: white;
}

#photo_upload_div #photo_anchor {
    margin-top: 8px;
}
