#download-options {
  list-style-type: none;
}
#download-options li {
  padding-bottom: 4px;
}

#download-options li span {
  font-family: monospace;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0 2px 0 2px;
}
