#rules,
#criteria {
    padding: 0 1rem;
}

#criteria .card,
#rules .card {
    margin: 10px 0;
}
#rules .rules-card {
    display: block;
    margin-bottom: 5px;
}
#rules .rules-footer {
    margin-top: 10px;
}

#criteria .rm-node {
    float: right;
}

#criteria .button-block {
    display: block;
    width: 80%;
    margin: 3px auto;
}

.dragArea {
  min-height: 50px;
  border: 1px solid gray;
  margin: 3px 3px 3px 15px;
  padding: 5px;
}

.dragArea h5 {
    margin: 1em 0 !important;
}

.slot {
    display: block;
    min-width: 150px;
    min-height: 30px;
    border: 1px dashed #999;
    color: #999;
}

.rules-card {
    display: inline-block;
    background: var(--unread-color);
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
    color: white;
    cursor: pointer;
}

.rules-card .fl-r {
    float: right;
}

.handle {
    cursor: pointer;
}

#validation_history li {
    list-style-type: none;
    line-height: 1.5em;
    padding: 3px;
    color: #222222;
    text-align: justify;
}
#validation-history .validated-by-at {
    color:#333333;
    font-size:0.7em;
}

#current_validation_status span {
    font-size:150%;
    font-weight:bold;
}

#validate-record-form textarea {
    width: auto;
}
 