{{#stylesheets}}
    <link rel="stylesheet" href="{{url}}{{file}}?rev={{rev}}" type="text/css" />
{{/stylesheets}}
{{#scripts}}
    <script type="text/javascript" src="{{url}}{{file}}?rev={{rev}}"></script>
{{/scripts}}

<script type="text/javascript">
$(function() {
    init();
    var coords = "{{{geom_show.geom}}}";
    coords = coords.replace(/\\/g,'');
    const geojson_format = new ol.format.GeoJSON();
    const feature = geojson_format.readFeature(coords);
    let geometry = feature.getGeometry();
    geometry.transform("EPSG:"+obj.selectedLayer_srid, "EPSG:3857");
    
    markerLayer.getSource().clear();

    const markerFeature = new ol.Feature({
        geometry: geometry,
        name: "Feature Position Marker",
    });
    const polygonStyle = new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'blue',
            width: 2,
        }),
        fill: new ol.style.Fill({
            color: 'rgba(0, 0, 255, 0.1)',
        }),
    });
    const pointStyle = new ol.style.Style({
        image: new ol.style.Icon({
            anchor: [0.5, 25],
            anchorXUnits: "fraction",
            anchorYUnits: "pixels",
            src: "js/img/map-marker-32.png",
            size: [32,32],
            scale: 1,
        })
    });

    if (geometry.getType() === 'Point') {
        markerFeature.setStyle(pointStyle)
    } else if (geometry.getType() === 'Polygon') {
        markerFeature.setStyle(polygonStyle);
    }
    
    markerLayer.getSource().addFeature(markerFeature);

    let extent = markerLayer.getSource().getExtent();
    
    if(extent[0] == extent[2]) {
        extent = ol.proj.transformExtent(extent, "EPSG:3857", "EPSG:4326");
        map.getView().setCenter( new ol.proj.fromLonLat([extent[0],extent[1]]) ); // transform to default EPSG:3857
    } else {
        map.getView().fit(new ol.geom.Polygon.fromExtent(extent),{padding: [20, 20, 20, 20]}); 
    }
    
    map.getView().setZoom(obj.zoom);
    mouseWheelInt.setActive(false);
});
</script>
<div id='smallmap-holder'>
    <div id='map' class='smallmap'></div>
    <span id='mouse-position'></span>
</div>
