<div class='pure-form'>
    <legend style='font-size:125%'>
        <i class='fa fa-file-text'></i>{{t.str_reports}}
    </legend>
    <ul style='list-style-type:none' id='save-options'>
        {{#reports}}
            <li style='padding-bottom:6px'>
                <div>
                    <i class='fa fa-file-text fa-lg'></i> <span style="display: inline-block; width: 150px;">{{.}}</span>
                    <a class='button-success pure-button' style='vertical-align:baseline' href="{{url}}/ajax?m=results_buttons&action=query&filename={{filename}}&format=pdf&report={{.}}" download> {{t.str_save}} </a>
                </div>
            </li>
        {{/reports}}
    </ul>
</div>
