.fst-wrap {
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    width: 165px;
    vertical-align:bottom;
    border-bottom: 1px solid lightgray;
}

.fst-label-wrap {
    position: relative;
    cursor: default;
    background-color: #fafafa;
    color:#515151;
}

.fst-label-wrap,
.fst-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fst-label-wrap .fst-label {
    padding: 4px 0px 3px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fst-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}

.fst-dropdown {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 165px;
    margin-top: 5px;
    z-index: 1000;
}

.fst-dropdown .fst-options {
    max-height: 200px;
    overflow: auto;
}

.fst-search input {
    border: none !important;
    box-shadow: none !important;
    outline: none;
    padding: 6px 0;
    width: 100%;
}

.fst-option,
.fst-search,
.fst-optgroup-label {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}

.fst-option:last-child {
    border-bottom: none;
}

.fst-search {
    padding: 0 8px;
}

.fst-no-results {
    padding: 6px 8px;
}

.fst-option {
    cursor: pointer;
    word-break: break-all;
}

.fst-option.disabled {
    opacity: 0.4;
    cursor: default;
}

.fst-option.hl {
    background-color: #f5f5f5;
}

.fst-wrap.multiple .fst-option {
    position: relative;
    padding-left: 30px;
}

.fst-wrap.multiple .fst-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.fst-wrap.multiple .fst-option .fst-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}

.fst-wrap.multiple .fst-option.selected .fst-checkbox i {
    background-color: rgb(17, 169, 17);
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.fst-optgroup-label {
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}
