/* mobile device detection */
@media only screen and (max-device-width: 600px)  {
    body {
        /*font-size: 10px;*/
    }
    #body {
        margin: 0 0 0 1rem;
    }
    .wrapper {
        margin-right:2px;
    }
    #smallmap-holder {
        float:unset; width: 100%;
    }
    #smallmap-holder .smallmap {
        /*width: 100%;*/
    }
    .attributes {
        list-style-type:none;padding-left:10px;max-width:100%;
    }
}
@media only screen and (min-device-width: 600px)  {
    body {
        /*font-size: 10px;*/
    }
    #body {
        margin: 0 0 0 1rem;
    }
    .wrapper {
        margin-right:2px;
    }
    #smallmap-holder {
        float:unset; width: 100%;
    }
    #smallmap-holder .smallmap {
        /*width: 100%;*/
    }
    .attributes {
        list-style-type:none;padding-left:10px;max-width:100%;
    }
}

@media only screen and (min-device-width: 900px)  {
    body {
        /*font-size: 11px;*/
    }
    #body {
        margin: 0 0 0 1rem;
    }
    .wrapper {
        margin-right:5px;
    }
    #smallmap-holder {
        float:right; max-width: 35%;
    }
    #smallmap-holder .smallmap {
        /*width: 100%;*/
    }
    .attributes {
        list-style-type:none;padding-left:10px;max-width:60%;
    }
}
@media only screen and (min-device-width: 1400px)   {
    body {
        /*font-size: 12px;*/
    }
    #body {
        margin: 0 0 0 2rem;
    }
    .wrapper {
        margin-right:5px;
    }
    #smallmap-holder {
        float:right; max-width: 40%;
    }
    #smallmap-holder .smallmap {
        /*width: 100%;*/
    }
    .attributes {
        list-style-type:none;padding-left:10px;max-width:60%;
    }
}
@media only screen and (hover: none) and (pointer: coarse) {
    body {
        font-size: 2rem;
    }
    #body {
        margin: 0 0 0 1rem;
    }
    #smallmap-holder {
        width: 100%;
        max-width:100%;
        float:unset;
    }
    #smallmap-holder .smallmap {
        /*width: 100%;*/
    }
    .attributes {
        list-style-type:none;padding-left:10px;max-width:100%;
    }
    .identify_point_record {
        font-size:1.4rem;
    }
    .resultstable td, .resultstable .tbl-cell {
        padding:2px;
        font-size:0.9rem;
    }
}

