/* Pure button extensions
 *
 * */
.button-success,
        .button-passive,
        .button-error,
        .button-warning,
        .button-secondary,
        .button-href,
        .button-gray,
        .button-darkgray,
        .button-fail {
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: solid #1a1a1a 1px;
    font-size:0.8rem;
}
.button-passive {
    border: solid #b3b3b3 1px;  /* this is a gray */
    background-color: #d3d3d3;
    color:#6f6f6f;
}
.button-gray {
    border: solid #a0a0a0 1px;  /* this is a gray */
    background-color: #c6c6c6;
    color:#4f4f4f;
}
.button-fail {
    border: solid #20002C 1px;  /* this is a gray */
    background-color: #BD00FF;
    color: #F9E6FF;
}
.button-darkgray {
    border: solid #a0a0a0 1px;  /* this is a gray */
    background-color: #a6a6a6;
    color:#4f4f4f;
}
.button-transp {
    border: solid #b3b3b3 1px;  /* this is a gray */
    background: transparent;
    color:#6f6f6f;
}
.button-success {
    background-color: rgb(159, 198, 81); /* this is a green */
    border: solid #8BAD47 1px;     
    color:#3f3f3f;
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    border: solid #B03434 1px;
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
    border: solid #C46712 1px;
}
.button-secondary {
    background: rgb(75, 193, 235); /* this is a light blue */
    border: solid #43ACD1 1px;
}
.button-href {
    border: solid #c3c3c3 1px !important;  /* this is a green */
    color: #5a5a5a !important;
    text-shadow:none;
    text-decoration:none !important;
}
.button-transparent {
    border: solid #c3c3c3 1px !important;  /* this is a green */
    color: #5a5a5a !important;
    text-shadow:none;
    text-decoration:none !important;
    background-color: transparent;
}
.button-tab {
    background: rgb(75, 193, 235) !important;
    color:white !important;
    border:1px solid #a0a0a0 !important;
}
.button-tab a {
    color:white !important;
}
.button-href:hover,
.button-href:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10))) !important;
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10)) !important;
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10)) !important;
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10)) !important;
}
.button-xsmall {
    font-size: 60% !important;
}
.button-small {
    font-size: 80% !important;
}
.button-large {
    font-size: 110% !important;
}
.button-xlarge {
    font-size: 120% !important;
    font-weight:bold;
}
.button-xxlarge {
    font-size: 135% !important;
    font-weight:bold;
}
.span-button {
    padding: 4px 7px 4px 7px;
    cursor:pointer;
}
.span-button:hover {
    background-color: #C9C9C9;
    padding: 1px;
    padding: 3px 6px 3px 6px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
}

