#list-editor {
    display:none;
    position:fixed;
    left:50%;
    right:50%;
    top:150px;
    width:400px;
    margin-left:-150px;
    border:1px solid gray;
    background-color:white;
    z-index:999;
    box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 2px;
    padding:10px;
}
#list-editor pre {
    font-size:80%;
}
#list-editor-help-box {
    background-color:aliceblue;
}
#list-editor-json {
    height:225px
}
#list-editor-simple {
    height:65px;
    padding-right:60px;
}
#sql-console {
    min-width: 600px;
}
#sql-cmd pre {
    margin:0;
    height:150px;
    width:auto;
}
#sql-cmd-wrapper {
    width:auto;
    height:auto;
}
#sql-cmd {
    box-sizing: content-box;
    padding:6px;
    font-family: monospace,monospace;
    font-size: 1em;
    line-height:1.5;
    height:150px;
    overflow:auto;
    border-bottom: 6px solid lightgray;
}
#sql-answer-wrapper {
    width:auto;
    height:auto;
    background-color:#ccc;
}
#sql-answer {
    height:320px;
    box-sizing: content-box;
    overflow-y:scroll;
    padding:6px;
    color:#333;
    position:relative;
    z-index:1;
    /* Grid */
    display: grid;
}
/* [CELLS] */
div.cell {
  padding: 2px;
  text-overflow: ellipsis;
  overflow:hidden;
  border-right: 1px solid #bbb;
  min-height:22px;
  background-color:#ccc;
  white-space:nowrap;
}

/* [HEADER] */
div.head {
  background: blueviolet;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  text-overflow: clip;
}

/* [ALTERNATE ROWS] */
div.alt {
  background: #f2f2f2;
  border-right: 1px solid #ddd;
}
@media screen and (max-width: 600px) {
  #tableWrap {
    grid-template-columns: 100%;
  }
  div.cell {
    padding: 5px;
  }
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
#editor-div {
    display:none;
    border: 1px solid lightgrey;
    background-color: gray;
    position:absolute;
    z-index:9900;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top:50px;
}
#editor-div-controls {
    padding: 10px;
    background-color: darkgray;
    z-index:10;
    width:100%;
    position:fixed;
    top:0;
}
.modal {
    display:none;
    position:absolute;left:50%;right:50%;top:300px;z-index:1100;
    width:500px;height:auto;
    padding-bottom:3px;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.75);-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    background-color:lightgray;
}
.modal-body {
    background-color:white;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.modal-draggable-handle {
    cursor: pointer;
    padding:5px 0 5px 5px;
    font-size:125%;
    color:white;
    background-color:gray;
}
.modal-header {
    padding:5px 0 5px 5px;
    font-size:125%;
    color:white;
    background-color:gray;
    border:2px solid gray;
    border-radius:2px;max-height:600px;-webkit-border-radius: 2px;
}
.modal-footer {
    background-color:lightgray;
    border-radius:2px;max-height:600px;-webkit-border-radius: 2px;
    padding:1px 5px 5px 5px;
}
.add-item:before { content: ' '; display: block; }
.add-item:hover {
    background-color: #cacaca;
}
.add-item {
    font-weight:bold;
    cursor:pointer;
}
.item-content:hover {
    background-color: #cacaca;
}
.item-content {
    color: blue;
    font-weight:bold;
    position:relative;
    display:inline;
    cursor:pointer;
}
.item-element {
    color:red;
}
.item-container {
    position:absolute;
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    list-style-type: none;
    border-radius: 2px;
    z-index:10;
}
.uplf_column_order {
    min-width: 70px;
}

.template_manager {
    display: flex;
}

.template_manager .templates {
    flex-basis: 20%;
}

.template_manager .editor h3 {
    margin-top: 2em;
}

.template_manager .editor [name="subject"] {
    width: 100%;
    margin-bottom: 1em;
}

.template_manager .editor h3 span {
    height: 16px;
    width: 21px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.template_manager .buttons {
    margin-top: 20px;
}

.range-slider {
 -webkit-appearance: none;
 appearance: none;
 width: 100%;
 height: 5px;
 background: #d3d3d3;
 outline: none;
 opacity: 0.7;
 -webkit-transition: .2s;
 transition: opacity .2s;
}

.range-slider:hover {
 opacity: 1;
}

.range-slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 background: var(--primary-color);
 cursor: pointer;
}

.range-slider::-moz-range-thumb {
 background: var(--primary-color);
 cursor: pointer;
} 


.modal2-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal2-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal2-container {
  max-width: 90%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal2-header h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.modal2-body {
  margin: 20px 0;
}

.modal2-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal2-enter {
  opacity: 0;
}

.modal2-leave-active {
  opacity: 0;
}

.modal2-enter .modal2-container,
.modal2-leave-active .modal2-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#linnaeus .pagination {
  list-style-type: none;
}

#linnaeus .pagination-item {
  display: inline-block;
}

.list-group:empty {
    padding:1rem;
    text-align:center;
    color: #777;
    border: 1px solid #aaa;
    border-radius: 3px;
    min-height: 68px;
    line-height: 34px;
}

.list-group:empty:before {
    content: 'Drop here';
}

#tx-table .tx-table-menu {
    margin-bottom: 20px;
}

#linnaeus_admin .flex,
#linnaeus .flex {
    display: flex;
}

#linnaeus_admin h4 span {
    cursor: pointer;
}

#linnaeus_admin #managed_columns .flex {
    flex-wrap: wrap;
    justify-content: space-around;
}

#linnaeus_admin #managed_columns .mc_footer {
    margin-top: 1em;
    text-align: right;
    border-top: 1px solid #cbcbcb;
    padding: 1em 3em;
}

#tx-table table {
    min-width: 500px;
}

#tx-table table.unselected {
    margin-right: : 1px;
}
#tx-table table.selected {
    margin-left: 1px;
}
#tx-table table thead {
    height: 45px;
}

.tx-tools .toolbar {
  display: inline-block;
}
.tx-row {
  display: flex;
}
.tx-column {
  width: 24%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.tx-column h5 {
  text-align: center;
  padding-bottom: 10px;
}
.tx-column>div {
  height: 100%;
}


.tx-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0.3em;
    cursor: pointer;
    box-shadow: 2px 2px 4px #919191;
    border-radius: 3px;
    position: relative;
}
.tx-card:active {
    box-shadow: 1px 1px 1px #919191, 2px 1px 2px 1px #919191, 1px 3px 1px #919191;
}
.tx-card-input {
    flex-basis: 87.5%;
    padding-left: .2em;
}
.tx-card-input ul {
    padding: 0;
}
.tx-card-input ul li {
    list-style-type: none;
}
.tx-card-input input {
    font-weight: bold;
    padding: 0.2em 0.6em !important;
}
.tx-card-input select {
    height: 1.8em !important;
    padding: 0.2em 0.6em !important;
}

.tx-card-buttons {
    flex-basis: 12.5%;
    display: flex;
    flex-direction: column;
}

.tx-action-buttons button {
    display: block;
    width: 100%;
    margin: 4px 0;
}
.tx-toolbar {
    padding: 10px 0;
}
.tx_toolbar button {
    margin-right: 10px; 
}

.tx-modal .modal2-container {
  width: 600px;
}
.tx-modal .modal2-body input {
  margin-bottom: 20px;
}
.tx-search-input {
  display: flex;
}
.tx-search-input input[type='number'] {
  width: 50px;
}
.tx-search-input input[type="text"] {
  width: 294px;
}
.tx-search-results {
  display: flex;
  justify-content: space-between;
  max-height: 60vh;
  overflow-y: auto;
}
.tx-search-results ul li {
  list-style-type: none;
}
.metaname_buttons {
    display: flex;
    justify-content: space-evenly;
}
