.holiday {
    color:red;
}
.holiday_pink {
    color:pink;
}
.head {
    background-color:#9e9e9e;
    color:white;
    text-align:center;
    font-weight:bold;
}
	.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .5em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 1em;  }

.gray {
    color:#636363;
}
.normal {
    color:black;
}
.bggray {
    background-color:#eaeaea;
}
.bgnormal {
    background-color:#fafafa;
}
.sa {
    padding:2px;
    text-align:center;
}
.cday {
    border:solid 1px #8e4e5e !important;
    /*border-right:solid 1px #8e4e5e;*/
    background-color:#bbcbdb;
}
.cweek {
    border-top:solid 1px #3e4e5e;
    border-bottom:solid 1px #3e4e5e;
}
.dc {
    border:none;   
    background:transparent;
    font-size:13px;
    padding:0px;
    margin:0;
    width:28px;
}
.current_seln {
    background:url(images/sel.png) center center no-repeat;
}
.current_seln_1 {
    background:url(images/sel1.png) top left no-repeat;
}
.current_seln_2 {
    background:url(images/sel2.png) top left no-repeat;
}
.current_seln_3 {
    background:url(images/sel3.png) top left no-repeat;
}
.current_seln_4 {
    background:url(images/sel4.png) top left no-repeat;
}
.current_seln_5 {
    background:url(images/sel5.png) top left no-repeat;
}
.current_seln_6 {
    background:url(images/sel6.png) top left no-repeat;
}
.current_seln_7 {
    background:url(images/sel7.png) top left no-repeat;
}

.current_selg {
    background-color:#FFC125 !important;
}
.indev {
    background:url(images/edit.png) center left no-repeat;
    color:transparent;
    border:none;
    cursor:pointer;
    cursor:hand;
    width:20px;
/*
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
*/
}
.click_d {
    cursor:pointer;
    color:#323232;
    display:inline-block;
    /*width: 70px;*/
}
.cdn {
    color:#323232;
    display:inline-block;
    width: 24px;
}

.mev 
{
        list-style-type: none;
        padding-left: 0px;
        font-size:0.8em;
        background-color:white;
}
.mev li {
        position:relative;
}
.mev span {
    padding:0px 3px 2px 3px;
}

.dev {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.dev span { 
        float: left;
        width: 170px;
}

li {
    /*background-image: url(sqpurple.gif);
    background-repeat: no-repeat;
    background-position: 0px 5px;*/
    padding-left: 4px;
}

body {
    font-family: arial,sans-serif;
    font-size:1em;
}
td {
    background-color:#fafafa;
    font-size:11px;
}
a  {
    text-decoration:none;
}
select {
    font-size:10px;
}
input {
    font-size:10px;
}
td.label {

}
#map {
    -moz-box-shadow: 0 0 5px 1px #999;
    -webkit-box-shadow: 0 0 5px 1px #999;
    position:absolute;
    right:8px;
    border:1px solid #545454;
    width:600px;
    height:600px;
    margin:0px;
    padding:0px;
    background-image:url(./images/mapbg.png);
}
#draggable {
}
#messagearea {
    font-size:0.7em;
}
