/* Profile
 *
 */
.profile_table {
    border-spacing:2px;
    border-collapse:separate !important;
    width:auto;
}
.profile_table td {
}
.profile_table td.label{
    font-weight:bold;
    padding:3px 14px 3px 1px;
    text-align:right;
}
.profile_table td.nomod {
    color:#9566BD;
}
.profile_table_label {
    color:#814202;padding-bottom:3px;width:50%;display:block;border-bottom:1px dotted gray;
}
/* messages */
.mailbox { width:970px;background:#fff; border:1px solid #bbb; padding:15px; margin:0 0 15px 0;  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  -moz-box-shadow:0 0 8px #bbb; -webkit-box-shadow:0 0 8px #bbb; box-shadow:0 0 8px #bbb; }
.email_item { border:1px solid #ddd; margin:0 0 3px 0; font-size:12px; font-family:arial, sans-serif; background:#f3f3f3; padding:7px 10px;  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.email_item.read { background:#f3f3f3 url(img/email_open.png) no-repeat 8px center; padding-left:34px; }
.email_item.unread { border:1px solid #ccc; background:#e2e2e2 url(img/email.png) no-repeat 8px center; padding-left:34px;  }
.email_item.unread .subject { font-weight:bold; }
.email_item:hover {  }
.email_item .subject { display:block; float:left; width:45%; color:#222; line-height:1.2em; white-space:nowrap; overflow:hidden; }
.email_item .from { display:block; float:left; width:29%; padding-left:1%; color:#444; line-height:1.2em;  white-space:nowrap; overflow:hidden; }
.email_item .date { display:block; float:right; width:24%; padding-left:1%; color:#555; font-size:11px; line-height:1.3em; white-space:nowrap;  overflow:hidden; }
/* Profile
 *
 * create_new_project */
.expl {
    width: 650px;
}
.expl ol { 
}
.expl li { 
    font-size: 90%; 
    vertical-align:bottom;
    font-weight:bold;
}
/*.expl li:before { 
    content: " " counter(item);
    counter-increment: item;
}*/
.expl p { 
    /*display: inline-block; 
    vertical-align: text-top; 
    font-size: 130%; */
    margin-left:2px;
    margin-bottom:8px;
    font-weight:normal;
}
.err {
    color:#E71414;
}
.done {
    color:#0AAE0C;
}
/* admin styles
 * */
#logconsole {
    width:100%;
    height:500px;
    background-color:#efefef;
    border:1px solid #676767;
    padding:2px;
    overflow:auto;
    padding-left:8px;
}
.loglineid {
    color:purple;
    display:inline-block;
    margin-top:5px;
    margin-left:-8px;
}
.logline-control {
    color:#3D83C6;
    font-weight:bold;
}
.logline-statement {
    color:#C6683D;
    font-weight:bold;
}
.logline-highlight {
    background-color:yellow;
    font-weight:bold;
}

.mail-box {
    --main-fg-color: rgb(66, 184, 221);
    --main-bg-color: #fff;
    --main-tag-color: #fafafa;
    --off-fg-color: #999;
    --main-left-border-size: 10px;
    display: flex;
    border: 1px solid var(--main-tag-color);
    max-height: 80vh;
}

.mail-box #tags {
  min-width: 20%;
  background: var(--main-tag-color);
  color: var(--off-fg-color);
  overflow: hidden;
  font-size: 1rem;
  font-weight: 200;
}

.mail-box #tags #other {
    justify-content: flex-end;
}
.mail-box #tags #other button {
    margin: auto 10px;
}

.mail-box #tags div {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-box #send-pm {
    display: none;
}

.mail-box #messages>div {
    padding: 10px;
}

.mail-box #messages > div:hover, #tags > .tag:hover, div.selected {
  cursor: pointer;
  color: var(--main-fg-color);
  background: var(--main-bg-color);
  border-left: var(--main-left-border-size) solid var(--main-fg-color);
  border-right: 1px solid transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.mail-box #messages .unread {
    border-left: var(--main-left-border-size) solid var(--primary-color);
}
.mail-box #messages > div, #tags > .tag {
  border-left: var(--main-left-border-size) solid transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mail-box #messages {
  display: none;
  min-width: 30%;
  background: var(--main-tag-color);
  color: var(--off-fg-color);
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 300;
}
.mail-box #messages .from_and_subject {
    font-weight: 700;
}
.mail-box #detail,
.mail-box #write {
  display: none;
  width: 100%;
  overflow: auto;
  font-weight: 300;
  padding: 30px;
}
.mail-box #detail #message_body {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--main-fg-color);
}
.mail-box #detail #detail-toolbar {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-fg-color);
    text-align: right;
}
.mail-box #detail #detail-toolbar button {
    display: none;
}
.mail-box #from,
.mail-box #date {
  font-weight: 300;    
}
.mail-box #from span,
.mail-box #date span {
  font-weight: 700;
}
.mail-box hr {
    height: 6px;
    margin: 0;
    border: none;
    background: #eee;
}
.mail-box #write input[type="text"],
.mail-box #write select,
.mail-box #write .ql-toolbar,
.mail-box #write #message-editor {
    width: calc(100% - 11.4em);
}

.mail-box #write .ql-toolbar {
    margin-left: 6em;
}

.mail-box #write #message-editor {
    min-height: 40vh;
    margin-left: 6em;
}
.mail-box .pure-form-aligned .pure-control-group label {
    width: 5em;
}

.mail-box .delete-message {
    color: rgb(202, 60, 60);
}


#drop_my_account {
    /*color: red;
    line-height: 50px;*/
}
.settings-section {
    font-weight: bold;
    line-height: 40px;
    padding: 5px;
}
.settings-section-description {
    line-height: 40px;
}
