/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color:gray;
}

.login-container {
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    width: 20rem;
}

.form-container {
    padding: 1.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.input-group i {
    margin-right: 0.6rem;
    color: #888;
}

input {
    width: 100%;
    padding: 0.6rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.2rem;
}
.checkbox {
    width:auto;
    border:none;
    padding: 0.6rem;
}

button {
    width: 100%;
    padding: 0.6rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}
button:disabled {
    background-color: gray;
}
button:hover {
    background-color: #0056b3;
}
a {
    color: #007bff;
    text-decoration: none;
    transition: color .3s;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
}
a:hover {
    color: #0056b3;
}
#title {
    color: white;
    background: #007bff;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-top-left-radius: 0.4rem;    
    border-top-right-radius: 0.4rem;    
}

#login-form, #forgot-password-form {
    display: none;
}
.padding-top-1 {
    padding-top:1em;
}
.padding-1 {
    padding:1em;
}
.margin-1 {
    margin:1em;
}
.right {
    text-align:right;
}
.center {
    text-align:center;
}
.font-90 {
    font-size:90%;
}
.u-1 {
    width: 100%
}
.dflex {
    display: flex;
}
.justify-content-end {
    -webkit-box-pack: end; 
    -ms-flex-pack: end;
    justify-content: flex-end;
}
h3 {
    margin-top:0;
}
.login-divider {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.login-divider::before {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--gray-100, #dcdcde);
    margin: 24px 16px 24px 0;
    box-sizing: border-box;
}

.login-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--gray-100, #dcdcde);
    margin: 24px 0 24px 16px;
    box-sizing: border-box;
}
