<h1>Általános Szerződési és Felhasználási feltételek az OpenBioMaps szolgáltatásaihoz</h1>
Az Általános Szolgáltatási Feltételek („ÁSZF”) tartalmazzák az OpenBioMaps, mint szolgáltató (“Szolgáltató”) által üzemeltetett adattároló és szolgáltató rendszer használatára vonatkozó általános szerződési feltételeket. Kérjük, hogy csak akkor vegye igénybe szolgáltatásainkat, amennyiben minden pontjával egyetért, és kötelező érvényűnek tekinti magára nézve. Jelen dokumentum nem kerül iktatásra, kizárólag elektronikus formában kerül megkötésre (nem minősül írásba foglalt szerződésnek), magatartási kódexre nem utal. Az ÁSZF letölthető az alábbi linkről: http://openbiomaps.org/OBM_aszf.pdf.<br>

<br>
<h3>Az OpenBioMaps célja</h3>
Az OpenBioMaps célja élő szervezetekre vonatkozó (természetvédelmi jelentőségű vagy biodiverzitás kutatásban használható) előfordulási és kapcsolódó adatok (Adatok) nyilvántartása, közzététele és további felhasználásra alkalmas szolgáltatása nem közhiteles módon, a közösségi tudás önkéntes összegyűjtésén alapulva. <br>
Az OpenBioMaps további kifejezett célja a felsőfokú oktatás támogatása az OpenBioMaps alkalmazások, valamint az adattartalom nyitott használata, fejleszthetősége útján. <br>
Az OpenBioMaps kifejezett célja a regisztrált felhasználók számára olyan módon szolgáltatni az adatokat, hogy az interneten keresztül webes és asztali alkalmazásban is használható legyen.<br>

<br>
<h3>Az OpenBioMaps rendszer</h3>
Az OpenBioMaps nyílt forráskódú alkalmazásokra támaszkodó adatkezelő platform, amelynek egyes példányai alapvetően egymástól függetlenek. Az önálló szolgáltató szerverek egyes példányai egy decentralizált hálózatot képeznek egyes szolgáltatásai opcionális kapcsolataival.<br>
Az OpenBioMaps alapú szerverek egy zárt közössgének vagy bárki számára elérhető publikus szolgáltatóként is üzemeltethetőek. Az egyes szerverek használatának szabályozása az adott szerver üzemeltetőjétől függően elétrő. <br>
Az egyes OpenBioMaps szerverek központi ellenőrzés nélküli önálló üzemeltetésű adatbázisokból állnak, amelyeknek saját felhasználó közösségük és önálló felhasználói és adathasználati szabályozásuk van.<br>
Az OpenBioMaps elsődleges célközönsége a természettudományos és természetvédelmi szakma, valamint a környezetügyet is érintő tervek, stratégiák, döntések előkészítői.<br>
Az OpenBioMaps olyan önkéntes részvételen alapuló közösségi adatkezelő eszköz, mely a teljes adatnyilvánosságot elfogadó és erősítő felhasználókra alapoz, ezért a szerzői jogok és adatvédelem kifejezett biztosítására felelősséget nem vállal. A rendszer kifejezett elve a nyitottság a legkülönfélébb biodiverzitással kapcsolatos adatok befogadására, valamint a kapcsolatépítés más adatbázisok felé.<br>

<br>
<h3>Az OpenBioMaps Szolgáltató és Szolgáltatás</h3>
Az OpenBioMaps szolgáltatás az OpenBioMaps Konzorcium partnerei által üzemeltettett szervereken OpenBioMaps eszközökkel megvalósított publikus szolgáltatás. Az OpenBioMaps minden szolgáltatása ingyenesen vehető igénybe.<br>

Az OpenBioMaps platformra épülő publikus szolgáltatás szolgáltatója:<br>
<br>

Neve: OpenBioMaps Konzorcium<br>
Címe: Debreceni Egyetem, 4032 Debrecen Egyetem tér. 1.<br>
Elektronikus levelezési címe: management __at__ openbiomaps.org<br>

<br>
<h4>A Szolgáltatásra vonatkozó alapvető rendelkezések</h4>
1. A jelen Szabályzatban nem szabályozott kérdésekre, valamint jelen Szabályzat értelmezésére a magyar jog az irányadó, különös tekintettel a Polgári Törvénykönyvről szóló 2013. évi V. törvény („Ptk.”) és az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi CV III. törvény vonatkozó rendelkezéseire. A vonatkozó jogszabályok kötelező rendelkezései a felekre külön kikötés nélkül is irányadók.<br>
2. Az OpenBioMaps fenntartja a jogot, hogy a jelen ÁSZF szabályzatot a felhasználók előzetes értesítése mellett egyoldalúan módosítsa. A felhasználó a módosítás hatálybalépését követő első belépéssel elfogadja a módosított adatkezelési szabályzatot.<br>
3. Az OpenBioMaps név és logó szerzői jogi mű, szerzői jogi oltalom alatt áll.<br>

<br>
<h4>Adatkezelési szabályok</h4>
Lásd: <a href='https://openbiomaps.org/privacy/'>OpenBioMaps Adatkezelési Tájékoztatója (AT)</a>. Az AT letölthető az alábbi linkről: http://openbiomaps.org/OBM_at.pdf.<br>

<br>
<h4>Az OpenBioMaps szolgáltatásainak köre</h4>
1. Biodiverzitási adatokat tartalmazó adatbázisok létrehozása és fenntartása.<br>
2. Az adatbázisok és kapcsolódó szolgáltatások (pl. térképi megjelenítés) publikus közzététele.<br>
3. Az adatbázisok és kapcsolódó szolgáltatások szolgháltatása zárt közösség számára.<br>
4. Az adatbázisok tartalmának szolgáltatása szoftver eszközök részére is (intergrálhatóság, autmatikus feldolgozás).<br>
5. Adatgyűjtő, kezelő és elemző eszközök szolgáltatása az egyes adatbázisokhoz.<br>

<br>
<h4>Definíciók</h4>
1. Felhasználó:  Azok a regisztrált felhasználók  (természetes vagy jogi személyek), akik elfogadják a felhasználási feltételeket és felhasználói azonosítóval bejelentkezve használják az OpenBioMaps szolgáltatásait.<br>
2. Látogató: Az OpenBioMaps szolgáltatásait használó nem bejelentkezett felhasználók.<br>
3. Adatközlő: Azok a Felhasználók akik az OpenBioMaps adatbázisokban közzétesznek adatokat.<br>
4. Névtelen adatközlő: Azok a látogatók akik bejelentkezés nélkül közölnek adatokat azokban az adatbázisokban ahol ez megengedett.<br>
5. Adat: élő szervezetekre vonatkozó (természetvédelmi jelentőségű vagy biodiverzitás kutatásban használható) előfordulási és kapcsolódó adat rekord. Általában egyetlen adatsor egy adat táblában olyan alapvető tulajdonságokkal, mint a mi, hol, milyen mennyiségben és ki által megfigyelve, de ennél komplexebb, vagy ettől jelentősen eltérő attribútumokkal is rendelkezhet.<br>
6. Adatbázis üzemeltető: Felhasználó által létrehozott adatbázisban (más néven: adatbázis projekt) üzemeltetőként megjelölt természetes vagy jogi személy.<br>
7. Adat tulajdonos: Az a természetes vagy jogi személy, aki a digitális adat felvételével az afölötti jogot birtokolja. Ezt a jogot befolyásolhatja, ha az adat egy másik (vélhetőleg nem digitális) szellemi termékből származik.<br>
8. Adatbázis projekt: Felhasználók által létrehozott adatbázisok (projektek).<br>
9. Stabil adatbázis: Az OpenBioMaps céljainak megfelelő adatbázis projekt, amelyben már nem történnek az adatbázis működésével kapcsolatos alapvető változások. A Stabil Adatbázisok DataCITE (http://www.datacite.org/) DOI azonosítót kérhetnek és leíró metaadataikat független metaadat bázisban is el lehet helyeztetni.
<br>
10. Teszt adatbázis: Azon adatbázisok, amelyek alapvető működési módja már kialakításra került struktúrális és kialakítása már jelentősen nem változik, de még az egyes funkció és szolgáltatásainak beállításai fejlesztés alatt állnak.<br>
11. Kísérleti adatbázis: Frissen létrehozott adatbázisok alapvető állapota, amely azt jelzi, hogy a struktúrális kialakítás és az alapvető szabályozási beállítások elvégzése folyamatban van.<br>
12. Metaadat: az Adatok leíró adatai. Metaadatok megadhatók az adatbázisok és az egyes táblák és az egyes tábla mezők létrehozásakor. Ezek a metaadatok azok amelyek az egyes táblák, vagy egyes mezők leírásait tartalmazzák. Metaadatok megadhatók az egyes adatfeltöltésekkor is. <br>
Minden Stabil Adatbázisnak tartalmaznia kell legalább adatbázis és tábla szintű metaadatokat lehetőleg a DarwinCore Metaadat sémának megfeleltethető mezőkkel.<br>
13. Validitás: Az adat hitelességének fokozata az OpenBioMaps adatbázisokban, ami egy tájékoztató érték arról, hogy mennyi és milyen értékelésű megerősítése van az adott Adatnak. Egy Adat hitelességét további megerősítés nélkül a feltöltő és feltöltés validitási foka adja. <br>

<br>
<h4>A feltöltött adatokra vonatkozó általános rendelkezések</h4>
1. Az Adatokat mindenki saját felelősségére használhatja, az adatok minőségét vagy teljességét az OpenBioMaps szolgáltatás üzemeltetői nem garantálják. Az adatok tartalmáért továbbá a téves adatok miatt okozott esetleges károkért az OpenBioMaps szolgáltatás üzemeltetői felelősséget nem vállalnak.<br> 
2. A Felhasználó tudomásul veszi, hogy az itt feltöltött adatait (amennyiben azok publikus hozzáférésű adatbázisba kerültek feltöltésre) más felhasználók is szabadon másolhatják, terjeszthetik, bemutathatják, előadhatják (a feldolgozásokat is), kereskedelmi célra is felhasználhatják, közölhetik.<br>
3. Felhasználó tudomásul veszi, hogy az adat tulajdonjoga az adat szerzőjétől elválaszthatatlan, ezért az adatok felhasználásakor a szerzőre és az OpenBioMaps szolgáltatásra is köteles hivatkozni.<br>
4. Annak érdekében, hogy az adat tulajdonosa azonosítható és hivatkozható legyen az adat tulajdonjogára vonatkozó információt az adattal mindig együtt kell tárolni. <br>
5. A (névtelen) Adatközlők által feltöltött adatok tulajdonjoga az adott adatbázis üzemeltetője lesz, hacsak nem tartalmaz az adat egyéb tulajdonosi hivatkozást.<br>

<br>
<h4>Adat és Felhasználó értékelés</h4>
Az értékelési szolgáltatás használata opcionális az egyes projektekben, alapvető célja adatminőség ellenőrzéssel kapcsolatos feladatok támogatása.<br>
Amennyiben ez a szolgáltatás az adott adatbázisban elérhető, úgy az Adatokat minden Felhasználó, vagy ha megengedett bármely Látogató értékelheti. Az értékelések számszerű és szöveges értékelésből állnak. Az egyes adatokra vonatkozó értékelések az adathoz kapcsolódó információként vannak tárolva.<br>
A Felhasználók értékelhetik egymás szakmai tevékenységét is, amely értékelés számszerű és szöveges értékelésből is állhat. Az értékelések a Felhasználók adataihoz mint kapcsolódó adatok vannak tárolva. Egy Felhasználó által feltöltött adatok egyéb értékelés nélkül öröklik a felhasználó értékelési pontjait.<br>

<br>
<h4>Hivatkozások az adatok forrására</h4>
A Felhasználók és Látogatók kötelezik magukat arra, hogy az OpenBioMaps adatbázisokból származó adatokat a következő formában idézik:<br>
Biodiversity occurrence data published by: (Accessed through OpenBioMaps - The Database, Server, YYYY-MM-DD)<br>
Például:<br>
Biodiversity occurrence data published by: Duna-Ipoly National Park Directorate (Accessed through OpenBioMaps - Danube Fsih Database, dinpi.openbiomaps.org, 2012-02-22)<br>

<br>
<h4>Regisztráció</h4>
Regisztráció kizárólag meghívás útján történik. Meghívó küldés, illetve igénylés az egyes adatbázisok egyéni beállításaitól függ. A meghívást emailben küldi ki a rendszer. A meghívást elfogadó személyek regisztrálhatnak. A regisztráció során a Felhasználó a névjegy lapján többféle személyes adatot is megadhat, de a email cím kötelező. A rendszer a felhasználók nevét, email címét és regisztrációjának időpontját és a meghívó személy email címét eltárolja. A regisztráció törölhető, amivel a fenti adatok is törlődnek a felhasználói adatbázisból (részletesebben lásd az adatkezeléséi nyilatkozatban).<br>

<br>
<h4>Az adatok archiválása</h4>
A Szolgáltató által fenntartott szerverek egy közös szolgáltatást tartanak fenn az adatbázisok archiválására. Az archívum napi szintű és minden az OpenBioMaps webes alkalmazás által létrehozott projekttáblára automatiksuan végrehajtódik. Az archíválás csak az sql táblákra vonatkozik a feltöltött csatolt állományokra nem. A napi mentések két hétig tárolódnak az archívumban.<br>

<br><br>
Debrecen, 2022. január 24.
