<div id='data-sheet-page'>
    <h2 class="dsp_title">{{title}}
        <a class='pure-button button-href' href="{{url}}/data/{{sheet_table}}/{{obm_id}}/pdf" target="_blank"><i class="fa fa-2x fa-file-pdf-o"></i></a>
    </h2>

    {{#not_available}}
        <div class="not_available">{{not_available}}</div>
    {{/not_available}}

    {{#obm_id}}
        {{{photo_div}}}
        {{{geom_modal}}}

        {{# geom_show }}
            {{> components/smallmap }}
        {{/ geom_show }}

        {{#can_edit}}
            <a class='pure-button button-href edit-record' data-id='{{obm_id}}' data-table='{{sheet_table}}'>{{t.str_edit_record}}</a>
        {{/can_edit}}
        
        <ul class='attributes'>
            {{#attributes}}
                <li class="{{class}}">
                    <span class="obm_label">
                        {{label}}
                    </span>
                    <span>
                        {{#is_master}}
                            <i class='fa fa-{{icon}}'></i>
                        {{/is_master}}
                        {{{value}}}
                    </span>
                </li>
                {{#thumbnails}}
                    <li class="{{class}}">
                        <span class="obm_label"></span>
                        <span class="thumbnails">{{{thumbnails}}}</span>
                    </li>
                {{/thumbnails}}
            {{/attributes}}
        </ul>

        {{#joined_data.has_joined_data}}
            <h2>{{t.str_joined_data}}</h2>
        {{/joined_data.has_joined_data}}
        {{#joined_data.data}}
            <div class="dsp_section">
                <h3>{{joined_table}}</h3>
                <table class='pure-table pure-table-horizontal'>
                    <thead>
                        <tr>
                            {{#columns}}
                                <th>{{ . }}</th>
                            {{/columns}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#data}}
                            <tr>
                                {{#row}}
                                    <td>{{{.}}}</td>
                                {{/row}}
                            </tr>
                        {{/data}}
                    </tbody>
                </table>
            </div>
        {{/joined_data.data}}
        {{#header}}
            <h2>{{t.str_header_information}}</h2>
            <div id="header_information" class="dsp_section">
                {{t.str_uploader}}: {{{uploader_name}}} [<a href="{{url}}/upload/history/{{uploading_id}}/" target="_blank">{{uploading_id}}</a>] {{uploading_date}}<br>
                {{t.str_changes}}: [<a href="{{url}}/data/{{sheet_table}}/{{obm_id}}/history/" target="_blank">{{last_mod.count}}</a>]<br>
                {{t.str_last_modify}}: {{last_mod.time}} {{{last_mod.link}}} <br>
                <br>
                <abbr title="Known citations">{{t.str_views}}</abbr>: {{metrics.views}}<br>
                <abbr title="Estimated value">{{t.str_downloads}}</abbr>: {{metrics.downloads}}<br>
                {{t.str_citations}}: {{#metrics.citations}}
                                        {{{.}}}, 
                                     {{/metrics.citations}}
            </div>
        {{/header}}

        {{#access_control}}
            <h2>{{t.str_data_access}}</h2>
            <div id="access_control" class="dsp_section">
                {{controller}}<br>
                {{no_rules_defined}}
                <div id="access_info">
                    {{#readers}}
                        <strong>{{readers.label}}:</strong>
                        <p>{{readers.list}}</p>
                        {{#allowed_columns}}
                            <strong>{{label}}</strong>
                            <p>{{list}}</p>
                        {{/allowed_columns}}
                    {{/readers}}
                    {{#modifiers}}
                        <strong>{{modifiers.label}}:</strong>
                        <p>{{modifiers.list}}</p>
                    {{/modifiers}}
                </div>
            </div>
            {{#update_rules}}
                <div id="update_rules" class="dsp_section">
                    <h4>Update rules</h4>
                    <div class='tbl'>
                        <div class='tbl-row'>
                            <div class='tbl-cell'>{{t.str_data_access}}</div>
                            <div class='tbl-cell'>{{t.str_read}}</div>
                            <div class='tbl-cell'>{{t.str_write}}</div>
                        </div>
                        <div class='tbl-row'>
                            <div class='tbl-cell'>
                                <select name='type' id='data-rule-type' size=4>{{{options_p}}}</select>
                            </div>
                            <div class='tbl-cell'>
                                <select name='read' id='data-rule-read' multiple size=4>{{{options_r}}}</select>                        
                            </div>
                            <div class='tbl-cell'>
                                <select name='read' id='data-rule-write' multiple size=4>{{{options_w}}}</select>
                            </div>
                        </div>
                    </div>
                    <button class='pure-button button-warning' id='update-data-rule' data-id='{{obm_id}}' data-table='{{sheet_table}}'>{{t.str_update}}</button>
                </div>
            {{/update_rules}}
        {{/access_control}}
        {{#evaluation}}
            <h2>{{t.str_evaluation}}</h2>
            <div id="evaluation" class="dsp_section">
                <h3>{{t.str_data_evaluation_score}}</h3>
                <div>
                    <abbr title="sum of data evaluates">
                        <span>{{data_evaluation_score}}</span>
                    </abbr>
                </div>
                <h3>{{t.str_summary_evaluation_score}}</h3>
                <div>
                    <abbr title="mean value of project+data+uploading+user evaluates">
                        <span>{{summary_evaluation_score}}</span>
                    </abbr>
                </div>
                {{#logged_in}}
                    <h3>{{t.str_comments}}</h3>
                    <div id="dsp_comments" id='dp_{{obm_id}}'>
                        {{{comments}}}
                    </div>
                    <h3>{{t.str_your_opinion}}</h3>
                    <div id="dsp_opinioning">
                        <div class='opinioning'>
                            <div class='bubby'>
                                <h3>{{t.str_thanks_for}}</h3>
                                {{{t.str_opinion_post_1}}}<br><br>
                                <span>{{t.str_avoid}}…</span><br>
                                {{{t.str_opinion_post_2}}}
                            </div>
                            <textarea class='expandTextarea yo' id='evdt-{{obm_id}}'></textarea>
                        </div>
                        <div>
                            <button class='button-error pure-button  pure-u-1-5 pm' id='valm-{{obm_id}}' rel='data' title="{{t.str_dnlike}}"><i class='fa-hand-o-down fa'></i></button>
                            <button class='button-secondary pure-button  pure-u-1-5 pm' id='valz-{{obm_id}}' rel='data' title='ok'>ok</button>
                            <button class='button-success pure-button  pure-u-1-5 pm' id='valp-{{obm_id}}' rel='data' title='{{t.str_like}}'><i class='fa-hand-o-up fa'></i></button>
                        </div>
                    </div>    
                {{/logged_in}}
            </div>    
        {{/evaluation}}
    {{/obm_id}}
</div>
