.sidenav{
    list-style-type: none;
    line-height: 2.5em;
    padding: 1em;
    white-space:nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}
#tabs{
    background-color: #f4f4f4;
    border-right: 1px solid #c4c4c4;
    position:fixed;
    height:100%;
    width:14em;
    font-size:90%;
}
.sidenav li a {
    color: #434343;
}
