<div class='pure-form'>
    <legend style='font-size:125%'>
        <i class='fa fa-download'></i>
        {{t.str_download}}
    </legend>
    <ul id='download-options'>
        {{#bg}}
            <div>
                <a class='pure-button button-success export_data_bg' href='{{url}}ajax?m=results_buttons&action=query&filename={{filename}}{{dlr}}'> {{t.str_export_data}} </a>
            </div>
        {{/bg}}
        {{#export_buttons}}
            <li>
                <span>.{{nameU}}</span>
                <a id="export_as{{nameU}}" class="export_data_fg" href="{{url}}ajax?m=results_buttons&action=query&filename={{filename}}&format={{name}}"> {{btnLabel}} </a>
            </li>
        {{/export_buttons}}
            <li>
                <a href="{{other_download_options}}">{{t.other_download_options}}</a>
            </li>
    </ul>
</div>

{{#logged_in}}

{{#shares}}
<div class='pure-form'>
    <legend style='font-size:125%'>
        <i class='fa fa-share-alt'></i> {{t.str_shares}}
    </legend>
    <ul style='list-style-type:none' id='save-options'>
        <li style='padding-bottom:6px'>
            <div>
                {{label}}:<br>
                <i class='fa fa-{{icon}} fa-lg'></i>
                <button class='shareq button-success pure-button' style='vertical-align:baseline' >
                    {{t.str_getsharelink}}
                </button>
            </div>
        </li>
    </ul>
</div>
{{/shares}}

{{#isbookmarks}}
<legend style='font-size:125%'>
   <i class='fa fa-bookmark'></i> {{t.str_bookmarks}}
</legend>
{{/isbookmarks}}

{{#bookmarks}}
<div class='pure-form'>

    <ul style='list-style-type:none' id='save-options'>
        <li style='padding-bottom:6px'>
            <div>
                {{label}}:<br>
                <i class='fa fa-{{icon}} fa-lg'></i>
                <input id='label-bookmark' required placeholder='{{t.str_label}}'>
                <button class='bookmarkq button-success pure-button' style='vertical-align:baseline' >
                    {{t.str_save}}
                </button>
            </div>
        </li>
    </ul>
</div>
{{/bookmarks}}

{{#server_share}}
<div class='pure-form'>
    <legend style='font-size:125%'>
        <i class='fa fa-share'></i>
        {{t.str_share}}
    </legend>
    <ul style='list-style-type:none' id='save-options'>
        <li style="padding-bottom:6px">
            <div>
                {{t.str_share_data_with_other_openbiomaps_project}}:<br>
                <button id="get_obm_servers" class="pure-button button-secondary">
                    {{t.str_get_obm_servers_list}}
                </button>
            </div>
        </li>
        <li style="padding-bottom:6px">
            <i class="fa fa-database fa-lg"></i>
            <select id="share_obm_servers" placeholder=""></select>
        </li>
        <li style="padding-bottom:6px">
            <i class="fa fa-sitemap fa-lg"></i>
            <select id="share_obm_server_project" placeholder=""></select>
        </li>
        <li style="padding-bottom:6px">
            <div>
                <button value="4" id="share-data-send-request" class="button-success pure-button" style="vertical-align:baseline;display:none">
                    {{t.str_share_data_width_project}}
                </button>
            </div>
        </li>
    </ul>
</div>
{{/server_share}}

{{#export_attachments}}
<legend style='font-size:125%'>
    <i class='fa fa-file-image-o'></i> {{t.str_attachments}}
 </legend>
 <ul style='list-style-type:none' id='save-options'>
    <li style='padding-bottom:6px'>
        <div>
            {{t.str_download_results_attachments}}: 
            <a class='button-success pure-button' style='vertical-align:baseline' href="{{url}}/ajax?m=photos&action=bulk_download" download> <i class="fa fa-download" aria-hidden="true"></i> {{t.str_download}} </a>
        </div>
    </li>
</ul>
{{/export_attachments}}
{{/logged_in}}

{{#reporting}}
    {{> modules/results_asPDF }}
{{/reporting}}
